/* tweakpane */

:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --tp-button-background-color: white;
  --tp-blade-unit-size: 30px;
}

// .tp-lblv_l {
// .tp-lblv {
//   .tp-lblv_v {
//   }
// }

div.tp-lblv.tp-v-lst.tp-v-vlst{
  background-color: orange;
}
div.tp-lblv.tp-v-lst.tp-v-vlst.tp-lblv_l{
  display: none;
  visibility: hidden;
}
.tp-btngridv {
  background-color: aqua;
}
// }
.tp-lblv_v {
  flex-grow: 1;
  line-height: 24px;
}
.tp-btnv_b,
.tp-tbiv_b {
  background-color: white;
  font-size: 36px;
  padding: 4px;
  line-height: 36px;
  height: 36px;
}
.tp-btnv_t,
.tp-tbiv_t {
  color: rgb(40,41,46);
  font-size: 22px;
  height: 32px;
  line-height: 32px;
  font-family: Material Symbols Outlined;
}

/* draggable panel */

.panel-draggable {
  position: fixed;
  top: 16px;
  left: 16px;
  color: white;
  background-color: rgb(40,41,46);
  cursor: move;
  z-index: 100;
  display: block;
  width: 320px;
  height: fit-content;
  color: #000;
  border-radius: 6px;
  /* transform: translate(); */
}
.panel-contents {
  display: block;
  position: absolute;
  top: 32px;
  cursor: auto;
  user-select: none;
  width: 100%;
}
.label {
  pointer-events: none;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 6px;
  left: 32px;
}
.picto {
  display: inline;
  pointer-events: none;
  font-family: Material Symbols Outlined;
  // font-size: 20px;
  line-height: 32px;
  height: 32px;
  color: white;
  padding-left: 8px;
}
.right {
  cursor: pointer;
  position: absolute;
  right: 8px;
}
